<div class="header single-lecture-header">
  <span class="back">&larr; BACK</span>
  <div class="lecture-name"><%= lecture.name %></div>
  <div class="play-pause-button"></div>
  <progress class="total-progress"></progress>
</div>

<div class="notes">

<% _.each(lecture.notes, function(note){
%>
  <div class="note-play" timestamp="<%=note.audioTime%>"></div>
  <div class="note" id="<%= note.id %>" timestamp="<%=note.audioTime%>">
    <img class="note-img" src="<%= note.imageUrl %>"></img>
  </div>
  <div style="clear:both;"></div>
<% }); %>

</div>

<audio src="<%= lecture.audioUrl %>"></audio>
